:root{
    --main-color: #1FA055;
    --main-color-button: #16B84E;
    --main-color-message-sent: #B0F2B6;
    --main-color-white: white;
    --main-color-like-white: #F0F0F0;
    --main-color-black: #1d1d1d;
}